<% layout("/layouts/bilerplate")  %>
<div class=" row alert alert-danger d-flex align-items-center" role="alert" mt-5>
<div class="col-6 offset-3">
  <div class="alert-danger">
  <%= message %>
  </div>
</div>
</div>
